:root { 
	--accent_color: #6802ed;
/*	--callout_color: 136, 0, 255;*/
	--callout_color: 181, 171, 255;
}

*, a { color: white }

body {
	background-color: rgb(0, 0, 0);
}

#projects > .ext_link:hover .link_arrow {
	stroke: white;
	animation: bluewhite 0.2s;
}

#portrait {
	background-color: rgb(0, 0, 0);
}

@keyframes bluewhite {
  from { color: var(--accent_color); }
  to   { color: white; }
}
